<div class="vul-select">
    <label for="SQL Injection">SQL Injection</label>

    <select name="SQL Injection" id="SQL Injection">
        <option value="No">No</option>
        <option value="Yes">Yes</option>
    </select>
</div>